<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="OtelContext" connectionString="Data Source=.;Initial Catalog=OtelRezervasyon;Trusted_Connection=true"
      providerName="System.Data.SqlClient" />
    <add name="Otel_Rezervasyon_Sistemi.Properties.Settings.OtelRezervasyonConnectionString"
      connectionString="Data Source=DESKTOP-VRS35K1\SQLSERVER2017EXP;Initial Catalog=OtelRezervasyon;uid=gulnihal;pwd=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>